@use '../../styles/breakpoints' as bp;
@use './searchbox';

.non-object-filters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @include bp.from-sm {
    grid-template-columns: minmax(280px, 1fr) auto;
  }

  &__search {
    @include searchbox.searchbox;
  }

  &__clear {
    @include searchbox.clear-button;

    @include bp.from-sm {
      width: auto;
    }
  }
}
